$primary: #2563eb;
$secondary: #1e293b;
$success: #22c55e;
$danger: #ef4444;
$warning: #f59e0b;

$background: #f4f7fc;
$card: white;

$text: #334155;

$radius: 16px;

$shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
